@model IEnumerable<Core.Concretes.DTOs.MembersListItem>
@{
    ViewBag.Title = "Index";
    var username = User.Identity.Name;
}

<h2>Members</h2>
<hr />
<table class="table table-striped">
    <thead>
        <tr>
            <th>Ad Soyad</th>
            <th>Kullanıcı Adı</th>
            <th>Eposta Adresi</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.Username != username)
            {
                <tr data-user="@item.Username">
                    <td>@item.Fullname</td>
                    <td>@item.Username</td>
                    <td>@item.Email</td>
                    <td class="text-end">
                        <div class="btn-group" role="group" aria-label="Basic outlined example">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-outline-primary dropdown-toggle role-dropdown-btn" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                    @item.Role
                                </button>
                                <ul class="dropdown-menu">
                                    @foreach (var role in new string[] { "Member", "Admin", "Editor" })
                                    {
                                        if (item.Role != role)
                                        {
                                            <li><a class="dropdown-item confirm-role-change" href="#" data-role="@role">@role</a></li>
                                        }
                                    }
                                </ul>
                            </div>
                            @if (item.Locked)
                            {
                                <button type="button" class="btn btn-outline-danger">
                                    <i class="fa-solid fa-lock"></i>
                                </button>
                            }
                            else
                            {
                                <button type="button" class="btn btn-outline-success">
                                    <i class="fa-solid fa-lock-open"></i>
                                </button>
                            }
                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@section Scripts {
    @*Bu aralığa yazdığım içerik veya kodu belirtilen üst (layout vs) şablona/sayfaya aktarır.*@
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const confirmLinks = document.querySelectorAll(".confirm-role-change")

            confirmLinks.forEach(link => {
                link.addEventListener("click", (event) => {
                    event.preventDefault();
                    if (!confirm('Emin misiniz?')) return;

                    const row = link.closest("tr")
                    const username = row.getAttribute("data-user")
                    const dropdownBtn = row.querySelector(".role-dropdown-btn")

                    const role = link.getAttribute("data-role")

                    fetch("@Url.Action("changerole","adminarea",new { area="profile" })", {
                        method: "POST",
                        headers: { "Content-Type": "application/json" },
                        body: JSON.stringify({ role: role, username: username })
                    })
                        .then(res => res.json())
                        .then(data => {
                            if (data.success) {
                                dropdownBtn.textContent = role
                            }
                            alert(data.message)
                        })
                        .catch(err => console.error("Role değiştirme hatası:", err))
                })
            })
        })
    </script>
}