@model Core.Concretes.DTOs.ArticleDetail

@{
    ViewBag.Title = Model.Title;
}

<!-- Content -->
<section>
    <header class="main">
        <h1>@Model.Title</h1>
        <h5>
            <a href="/@Model.CategoryInfo.Slug">@Model.CategoryInfo.Name</a> |
            @foreach (var tag in Model.Tags)
            {
                <a href="#@tag">@tag</a>
            }
        </h5>
        <h6>@Model.PublishDate.ToLongDateString()</h6>
    </header>

    <span class="image main"><img src="@Model.CoverImage" alt="@Model.Title" /></span>
    @foreach (var item in Model.HtmlContent.Split('\n'))
    {
        <p>@item</p>
    }
    <hr class="major" />
    <div class="posts">
        @foreach (var article in Model.RelatedArticles)
        {
            <article>
                <a href="/@article.Slug" class="image"><img src="@article.CoverImage" alt="@article.Title" /></a>
                <h5>
                    <a href="/@article.CategoryInfo.Slug">@article.CategoryInfo.Name</a>
                </h5>
                <h3>@article.Title</h3>
                <h6>@article.PublishDate.ToLongDateString()</h6>
                <p>@article.SubTitle</p>
                <div class="my-2">
                    @foreach (var tag in article.Tags)
                    {
                        <a href="#@tag" class="tag fs-6">@tag</a>
                    }
                </div>
                <ul class="actions">
                    <li><a href="/@article.Slug" class="button">More</a></li>
                </ul>
            </article>
        }
    </div>
</section>