@using Microsoft.AspNet.Identity

@{
    var username = User.Identity.IsAuthenticated ? User.Identity.GetUserName() : null;
}
<ul class="actions small">
    @if (User.Identity.IsAuthenticated)
    {
        string ctrl = "memberarea";
        if (User.IsInRole("Admin"))
        {
            ctrl = "adminarea";
        }
        else if (User.IsInRole("Editor"))
        {
            ctrl = "editorarea";
        }
        <li><a href="@Url.Action("index", ctrl, new { area = "profile" })" class="button small">@username</a></li>
        <li><a href="@Url.Action("logout","account")" class="button primary small">Çıkış</a></li>
    }
    else
    {
        <li><a href="@Url.Action("login","account")" class="button primary small">Giriş Yap</a></li>
        <li><a href="@Url.Action("register","account")" class="button primary small">Kayıt Ol</a></li>
    }
</ul>

